{% extends 'AppWeb/index.html' %}

{% load static %}

{% block dinamico1 %}


Entiendo que hay muchas formas mejores de hacer esto, la verdad por un tema de tiempo de entrega y demas, decidi al menos tener algo para un comienzo, luego con el pasar de los dias ir mejorandolo poco a poco hasta llegar a un buen producto final.

<div class="container mt-5">
    <center>
    <form  method="post" class="form-group mb-5" style="text-align: justify" enctype="multipart/form-data">

        {% csrf_token %}

        <table class="table">

        {{miAvatar.as_p}}

        </table>
        <p></p>
        <input type="submit" value="Guardar cambios" class="btn btn-primary btn-sm">
        <a class="btn btn-primary btn-sm" href="{% url 'Inicio' %}">Cancelar</a>

    </form>
    </center>
</div>

{% endblock %}