{% extends 'AppWeb/index.html' %}

{% load static %}

{% block dinamico1 %}


<center>
<h1><ul>{{object.Autor}}</ul></h1>
<h2><ul>{{object.Titulo}}</ul></h2>
<ul>{{object.Noticia}}</ul>
<img src="{{ object.image_url|default_if_none:'#' }}" />


{% if request.user.is_authenticated %}
<button>
    <a href="{% url "update" noticiamodel.id %}">Actualizar Info</a>
</button>

<button>
    <a href="{% url "delete" noticiamodel.id %}">Eliminar</a>
</button>
{% else %}
{{pass}}
{% endif %}

<button>
    <a href="{% url "lista" %}">Regresar</a>
</button>
</center>
{% endblock %}